**/dist
day-01/Captcha
day-02/Checksum
day-02/Checksum2
day-03/Manhattan
day-03/Sums
day-05/Exit
day-06/Mem
day-07/Towers
day-07/Balance
day-08/Jump
day-09/Groups
day-10/Hash
day-10/KnotHash
day-11/ShortHexPath
day-12/SCC
day-13/Firewall
day-13/Chinese
day-14/Defrag
day-15/Duel
day-16/Dance
day-17/Spinlock
day-17/ImprovedSpinlock
day-17/Smrt
day-18/Duet
day-18/Parallel
day-19/Path
day-20/GPU
day-20/Collisions
day-21/Fractal
